.messages-div {
    padding: 0 2rem;

    .messages {
        list-style: none;
        width: 100%;
        font-size: 1.8em;
        font-family: "Bebas Neue", cursive;
        padding: 0.5em 0;
        letter-spacing: 0.2em;
    }
}
