body {
    overflow-y: auto !important;

    .pages-course-header {
        margin: 1em 0 0 1em;
        position: absolute;

        > h1 {
            font-family: $font-bebas-neue;
            font-size: 4.5rem;
            letter-spacing: 0.25em;
            margin: 0 .2em;
        }
    }

    .pages-course-main {
        margin: 10em 10em 0 9em;
    }
}
